<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Novel Corona / Covid-19 Stats
            </a>
        </div>

    </div>
</nav>